<div class="bookmark">
  <h4>
    <%= link_to bookmark.url_link_text, bookmark.url, target: "_blank" %>
    <div class="badge"><%= pluralize(bookmark.votes.count, "Like") %></div>
  </h4>
  <p><small><%= bookmark.url_description %></small></p>
  <div class="interact">
  <% if policy(bookmark).edit?  %>
    <%= link_to edit_topic_bookmark_path(id: bookmark.id, topic_id: bookmark.topic_id), class: 'icon-btn btn-primary' do %>
      <i class="fa fa-pencil"></i>
    <% end %>
  <% end %>
  <% if policy(bookmark).destroy?  %>
    <%= link_to topic_bookmark_path(id: bookmark.id, topic_id: bookmark.topic_id), method: :delete, class: 'icon-btn btn-primary' do %>
      <i class="fa fa-trash-o"></i>
    <% end %>
  <% end %>
  <%= link_to favorite_topic_bookmark_path(bookmarks: bookmark, topic_id: bookmark.topic_id), class: "#{bookmark.has_favorite_for(current_user) ? 'icon-btn disabled' : 'icon-btn btn-success'}", method: :post do %>
    <i class="fa fa-thumbs-o-up"></i>
  <% end %>
  <%= link_to unfavorite_topic_bookmark_path(bookmarks: bookmark, topic_id: bookmark.topic_id), class: "#{!bookmark.has_favorite_for(current_user) ? 'icon-btn disabled' : 'icon-btn btn-danger'}", method: :post do %>
    <i class="fa fa-thumbs-o-down"></i>
  <% end %>
  </div>
</div>